{% extends 'bases.html' %}
{% block title %}All animals{% endblock %}
{% block content %}
{% for animal in animals %}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{animal.name}}</h5>
        <h6 class="card-text">{{animal.family.name}}</h6>
        <p class="card-text">{{animal.legs}} Legs</p>
        <p class="card-text">weight: {{animal.weight}}</p>
        <p class="card-text">height: {{animal.height}}</p>
        <a href="{% url 'single_animal' animal.id %}" class="btn btn-primary">Go to this animal</a>
      </div>
    </div>
{% endfor %}
{% endblock %}